@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 24px;
}

@media (min-width: 0px) and (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 641px) and (max-width: 1180px) {
  html {
    /* 타블렛PC */
    font-size: 20px;
  }
}

body {
  width: 100vw;
  height: 100vh;
}

button,
a,
li {
  all: unset;
  color: black;
}

a, button {
  cursor: pointer;
}

nav {
  width: 100%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav .brand {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .brand img {
  height: 100%;
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

nav .links .link {
  margin: 0 10px;
}

.container {
  max-width: 1800px;
  margin: auto;
}

.swiper-main {
  width: 100%;
  height: 100%;
}

.swiper-main .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-main .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  padding-top: 4rem;
}

@media (min-width: 0px) and (max-width: 640px) {
  .swiper-main .swiper-wrapper .swiper-slide {
    height: auto;
  }
}

.swiper-main .swiper-wrapper .swiper-slide.footer {
  padding-top: 0;
}

@media (min-width: 641px) and (max-width: 1180px) {
  .swiper-main .swiper-wrapper .swiper-slide.footer {
    /* 타블렛PC */
    height: 400px;
  }
}

@media (min-width: 1180px) {
  .swiper-main .swiper-wrapper .swiper-slide.footer {
    height: 400px;
  }
}

.swiper-main .swiper-pagination {
  width: 50px;
  left: 10px;
  top: 50%;
  right: 0;
  text-align: left;
}

.swiper-main .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 20px 0;
  margin-left: 10px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  outline: none !important;
}

.swiper-main .swiper-pagination .swiper-pagination-bullet p {
  display: none;
  width: 80vw;
  margin-left: 25px;
}

.swiper-main .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #FF9A11;
  width: 20px;
  height: 20px;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.swiper-main .swiper-pagination .swiper-pagination-bullet:hover p {
  display: inline-block;
}

@media (min-width: 0px) and (max-width: 640px) {
  .swiper-main .swiper-pagination {
    display: none;
  }
}

.sec0 {
  display: -ms-grid;
  display: grid;
  padding: 3rem;
  gap: 0.3rem;
  padding-top: 4rem;
  text-align: center;
}

.sec0 .sec0_title {
  grid-area: sec0_title;
  font-size: 3rem;
  color: #FF9A11;
  font-weight: bolder;
}

.sec0 .sec0_disc_main {
  grid-area: sec0_disc_main;
}

.sec0 .sec0_disc_sub {
  grid-area: sec0_disc_sub;
  font-size: 0.8rem;
  word-break: keep-all;
}

.sec0 .sec0_img {
  grid-area: sec0_img;
  width: 100%;
  height: 100%;
  background: url("../images/bicycle-5013316_1920.jpg") center/cover no-repeat;
}

.sec0 .sec0_more {
  grid-area: sec0_more;
  border-radius: 4rem;
  background-color: #FF9A11;
  color: white;
}

.sec0 .sec0_video {
  grid-area: sec0_video;
  color: #FF9A11;
}

.sec0 .sec0_line {
  height: 95%;
  grid-area: sec0_line;
  border-right: 1px solid black;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 0px) and (max-width: 640px) {
  .sec0 {
    grid-template: "sec0_title sec0_title sec0_title sec0_title" 1fr ". sec0_disc_main sec0_disc_main ." 1fr  "sec0_disc_sub sec0_disc_sub sec0_disc_sub sec0_disc_sub" 1fr ". sec0_more sec0_video ." 50px ". sec0_img sec0_img ." 200px / 1fr 3fr 3fr 1fr;
  }
  .sec0 .sec0_title {
    font-size: 2rem;
  }
  .sec0 .sec0_line {
    display: none;
  }
}

@media (min-width: 641px) and (max-width: 1180px) {
  .sec0 {
    /* 타블렛PC */
    grid-template: "sec0_title sec0_title sec0_title sec0_title" 1fr ". sec0_disc_main sec0_disc_main ." 1fr  "sec0_disc_sub sec0_disc_sub sec0_disc_sub sec0_disc_sub" 1fr ". sec0_more sec0_video ." 50px ". sec0_img sec0_img ." 3fr / 1fr 2fr 2fr 1fr;
  }
  .sec0 .sec0_title {
    font-size: 2rem;
  }
}

@media (min-width: 1180px) {
  .sec0 {
    grid-template: "sec0_title sec0_title . ." 2fr "sec0_line sec0_disc_main sec0_img sec0_img" 2fr "sec0_line sec0_disc_sub sec0_img sec0_img" 4fr "sec0_more sec0_video . ." 50px/1fr 2fr 2fr 2fr;
    overflow: hidden;
    text-align: center;
  }
  .sec0 .sec0_title {
    -ms-flex-item-align: end;
        align-self: flex-end;
    text-align: left;
    -ms-grid-column-align: left;
        justify-self: left;
  }
  .sec0 .sec0_disc_main {
    -ms-flex-item-align: end;
        align-self: flex-end;
    text-align: left;
  }
  .sec0 .sec0_disc_sub {
    text-align: left;
  }
}

.sec1 .sec1_container {
  height: 100%;
  width: 100%;
}

.sec1 .sec1_container .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.sec1 .sec1_container .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
  text-align: center;
}

.sec1 .sec1_container .swiper-wrapper .swiper-slide .sec1-wrap {
  width: 100%;
  height: 100%;
  margin: auto;
}

.sec1 .sec1_container .swiper-wrapper .swiper-slide .sec1-wrap img {
  display: block;
  width: 60%;
  height: 40%;
  margin: auto;
}

.sec1 .sec1_container .swiper-wrapper .swiper-slide .sec1-wrap p {
  margin: 1rem 0;
}

.sec1 .sec1_container .swiper-wrapper .swiper-slide .sec1-wrap span {
  word-break: keep-all;
  font-size: 0.6rem;
  color: gray;
}

.sec1 .sec1_container .swiper-button-next {
  right: 40px;
}

.sec1 .sec1_container .swiper-button-prev {
  left: 60px;
}

@media (min-width: 0px) and (max-width: 640px) {
  .sec1 .sec1_container .swiper-button-next {
    right: 20px;
  }
  .sec1 .sec1_container .swiper-button-prev {
    left: 20px;
  }
  .sec1 .sec1_container .swiper-wrapper .swiper-slide .sec1-wrap p {
    font-size: 1.3rem;
  }
  .sec1 .sec1_container .swiper-wrapper .swiper-slide .sec1-wrap span {
    font-size: 1rem;
  }
}

@media (min-width: 641px) and (max-width: 1180px) {
  .sec1 {
    /* 타블렛PC */
  }
  .sec1 .sec1_container .swiper-wrapper .swiper-slide {
    padding: 2rem 5rem;
  }
  .sec1 .sec1_container .swiper-wrapper .swiper-slide .sec1-wrap {
    background-color: yellowgreen;
    border-radius: 20px;
    padding: 2rem;
  }
  .sec1 .sec1_container .swiper-wrapper .swiper-slide .sec1-wrap p {
    font-size: 1.5rem;
  }
  .sec1 .sec1_container .swiper-wrapper .swiper-slide .sec1-wrap span {
    font-size: 1.2rem;
  }
  .sec1 .sec1_container .swiper-button-next {
    right: 60px;
  }
  .sec1 .sec1_container .swiper-button-prev {
    left: 60px;
  }
}

@media (min-width: 1180px) {
  .sec1 .sec1_container {
    height: 100%;
    width: 100%;
    padding: 1rem 4rem;
  }
  .sec1 .sec1_container .swiper-wrapper .swiper-slide {
    padding: 1rem;
    max-height: 850px;
    background-color: transparent;
    margin: auto;
    border-radius: 20px;
    -webkit-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
  }
  .sec1 .sec1_container .swiper-wrapper .swiper-slide:hover {
    background-color: #cac9c9;
  }
  .sec1 .sec1_container .swiper-button-next {
    display: none;
  }
  .sec1 .sec1_container .swiper-button-prev {
    display: none;
  }
  .sec1 .sec1_container .swiper-slide-duplicate {
    display: none !important;
  }
}

@media (min-width: 0px) and (max-width: 640px) {
  .footer .box {
    font-size: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */