$nav-padding : 3rem;



$sec0-color :#FF9A11;

$screen-desktop : 1180px;
$screen-tablet : 640px;

//모바일
@mixin mobile {
    @media (min-width:0px) and (max-width: $screen-tablet) {
        // @media screen and ( min-width:0px){    
        @content;
    }
}

// 타블렛PC
@mixin tablet {
    @media (min-width:$screen-tablet + 1px) and (max-width:$screen-desktop) {
        /* 타블렛PC */
        // @media screen and ( min-width:601px) {  /* 타블렛PC */
        @content;
    }
}

@mixin mobile_table {
    @media (min-width:0px) and (max-width : $screen-desktop) {
        @content;
    }
}

// 데스크탑
@mixin desktop {
    @media (min-width:$screen-desktop + 1px) {
        @content;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {

    font-size: 24px;

    @include mobile(){
        font-size: 14px;
    }
    @include tablet(){
        font-size: 20px;
    }
    @include desktop(){
        font-size: 26px;
    }
}

body {
    width: 100vw;
    height: 100vh;

}

button,
a,
li {
    all: unset;
    color: black;
}

a , button{
    cursor: pointer;

}


nav {
    width: 100%;
    height: $nav-padding;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 1000;

    .brand {
        height: 100%;
        display: flex;
        align-items: center;

        img {
            height: 100%;
        }
    }

    .links {
        display: flex;
        align-items: center;
        margin-right: 1rem;

        .link {
            margin: 0 10px;
        }
    }

}
.container{
    max-width: 1800px;
    margin: auto;
}

// 스와이프
.swiper-main {
    width: 100%;
    height: 100%;


    .swiper-wrapper {
        width: 100%;
        height: 100%;

        .swiper-slide {
            width: 100%;
            height: 100%;
            padding-top: $nav-padding;
            @include mobile(){
                height: auto;
            }
            &.footer {
                @include tablet(){
                    height: 400px ;
                }
                @include desktop(){
                    height: 400px ;
                }
                padding-top: 0;
            }
        }
    }

    .main-pagination {
        width: 25px;
        left: 10px;
        top: 50%;
        right: 0;
        text-align: left;

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            margin: 20px 0;
            margin-left: 10px;
            opacity: 1;
            background-color: rgba($color:black, $alpha: 0.2);
            outline: none !important;

            p {
                display: none;
                width: 80vw;
                margin-left: 25px;
            }

            &.swiper-pagination-bullet-active {
                background-color: $sec0-color;
                width: 20px;
                height: 20px;
                transform: translateX(-5px);
            }

            &:hover {
                p {
                    display: inline-block;
                }
            }
            
        }
        @include mobile_table(){
            display: none;
        }
    }
}


// sec0
.sec0 {
    display: grid;
    padding: 3rem;
    gap: 0.3rem;
    padding-top: $nav-padding;
    text-align: center;
    .sec0_title {
        grid-area: sec0_title;
        font-size: 3rem;
        color: $sec0-color;
        font-weight: bolder;

    }

    .sec0_disc_main {
        grid-area: sec0_disc_main;
    }

    .sec0_disc_sub {
        grid-area: sec0_disc_sub;
        font-size: 0.8rem;
        word-break: keep-all;
    }

    .sec0_img {
        grid-area: sec0_img;
        width: 100%;
        height: 100%;
        background: url("../images/bicycle-5013316_1920.jpg") center/cover no-repeat;
    }

    .sec0_more {
        grid-area: sec0_more;
        border-radius: 4rem;
        background-color: $sec0-color;
        color: white;
    }

    .sec0_video {
        grid-area: sec0_video;
        color: $sec0-color;
    }

    .sec0_line {
        height: 95%;
        grid-area: sec0_line;
        border-right: 1px solid black;
        transform: translateX(-50%);
    }
    @include mobile(){
        grid-template: 
        "sec0_title sec0_title sec0_title sec0_title" 1fr
        ". sec0_disc_main sec0_disc_main ." 1fr 
        "sec0_disc_sub sec0_disc_sub sec0_disc_sub sec0_disc_sub" 1fr
        ". sec0_more sec0_video ." 50px
        ". sec0_img sec0_img ." 200px
        / 1fr 3fr 3fr 1fr;

        .sec0_title{
            font-size: 2rem;

        }

        .sec0_line{
            display: none;
        }
  
    }
    @include tablet(){
        grid-template: 
        "sec0_title sec0_title sec0_title sec0_title" 1fr
        ". sec0_disc_main sec0_disc_main ." 1fr 
        "sec0_disc_sub sec0_disc_sub sec0_disc_sub sec0_disc_sub" 1fr
        ". sec0_more sec0_video ." 50px
        ". sec0_img sec0_img ." 3fr
        / 1fr 2fr 2fr 1fr;
        

        .sec0_title{
            font-size: 2rem;
        }
  
    }
    @include desktop(){
        grid-template:
        "sec0_title sec0_title . ."2fr 
        "sec0_line sec0_disc_main sec0_img sec0_img"2fr 
        "sec0_line sec0_disc_sub sec0_img sec0_img"4fr 
        "sec0_more sec0_video . ."50px / 1fr 2fr 2fr 2fr;
        overflow: hidden;
        text-align: center;
        .sec0_title{
            align-self: flex-end;
            text-align: left;
            justify-self: left;
        }
        .sec0_disc_main{
            align-self: flex-end;
            text-align: left;
        }
        .sec0_disc_sub{
            text-align: left;
        }
    }
}

// sec1
.sec1{
    .sec1_container{
        height: 100%;
        width: 100%;

        .swiper-wrapper{
            width: 100%;
            height: 100%;

            .swiper-slide{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 4rem;
                text-align: center;
                .sec1-wrap{
                    width: 100%;
                    height: 100%;
                    margin: auto;
                    img{
                        display: block;
                        width: 60%;
                        height: 40%;
                        margin: auto;
                    } 
                    p{
                        margin: 1rem 0;
                    }
                    span{              
                        word-break: keep-all;
                        font-size: 0.6rem;
                        color: gray;
                    }
                }
               
            }
        }
        .swiper-button-next{
            right: 40px;
        }
        .swiper-button-prev{
            left: 60px;
        }
    }
    @include mobile(){
        .sec1_container{
            .swiper-button-next{
                right: 20px;
            }
            .swiper-button-prev{
                left: 20px;
            }
            .swiper-wrapper{
                .swiper-slide{
                    .sec1-wrap{
                        p{
                            font-size: 1.3rem;
                        }
                        span{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
    @include tablet(){
        .sec1_container{
            .swiper-wrapper {
                .swiper-slide { 
                    padding: 2rem 5rem;
                    .sec1-wrap{
                        background-color: yellowgreen;
                        border-radius: 20px;  
                        padding: 2rem;
                        p{
                            font-size: 1.5rem;
                        }
                        span{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            .swiper-button-next{
                right: 60px;
            }
            .swiper-button-prev{
                left: 60px;
            }
        }
    }

    @include desktop() {
        .sec1_container {
            height: 100%;
            width: 100%;
            padding: 1rem 4rem;  
            .swiper-wrapper {
                .swiper-slide {   
                    padding: 1rem;
                    max-height: 850px;
                    background-color: transparent;
                    margin: auto;
                    border-radius: 20px;  
                    transition: background-color 300ms ease-out ;
                    &:hover{
                        background-color: rgb(202, 201, 201);
                    }
                }
            }

            .swiper-button-next {
                display: none;
            }

            .swiper-button-prev {
                display: none;
            }
            .swiper-slide-duplicate{
                display: none !important;
            }
        }
    }
}


// sec2
.sec2{
    padding: 4rem;

    .sec2_content{
        width: 100%;
        height: 100%;
        margin-bottom: 3rem;
        .sec2_warp{
            // 슬라이드 기본 패딩 들어가서 초기화
            .swiper-slide{
                padding: 0;
            }

            .sec2_silde0{
                padding: 1rem;

                .sec2_silde0_img{
                    width: 160px;
                    height: 180px;
                }

                h1,h2,p , .sec2_silde0_counts , .sec2_silde0_dsc{
                    margin-top: 0.5rem;
                }

                .sec2_silde0_counts{
                    display: flex;
                    justify-content: space-between;
                    height: 10rem;
                    .sec2_silde0_count{
                        width: 33%;               
                        margin: 5px;
                        border-radius: 20px;
                        background-color: white;
                        padding: 1.5rem 0.5rem 0.5rem 0.5rem;
                        h2{
                            display: inline-block;
                        }
                    }
                }
                .sec2_silde0_footer{
                    margin-top: 1rem;
                    font-size: 0.75rem;
                    display: flex;
                    justify-content: center;
                    button{
                        margin: 0 20px;
                        color: $sec0-color;
                    }
                }
            }
            .sec2_silde1{
                .sec2_silde1_bg {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 30%;
                    left: 0;
                    font-size: 12vw;
                    text-align: center;
                    color: white;
                    z-index: 1;
                }
                .sec2_silde1_content {
                    height: 100%;
                    .sec2_silde1_imges {
                        min-height: 400px;
                        height: 70%;
                        position: relative;
                        z-index: 2;
                        margin-top: 10px;
                        img {
                            width: 150px;
                            height: 280px;
                            position: absolute;                            
                            &:nth-child(1){
                                top: 0;
                                left: 45%;  
                                animation: deviceDown 2000ms infinite ;                             
                            }
                            &:nth-child(2){
                                top: 25%;
                                right: 45%;                          
                                animation: deviceUp 2000ms infinite;     
                            }
                        }
                    }
                    .sec2_silde1_word {
                        height: 40%;
                        margin: 10px 0;
                        position: relative;
                        z-index: 2;
                        h2{
                            margin-top: 0.5rem;
                            font-size: 1.2rem;
                        }
                    }
                }
                }
            
            .sec2_silde2{
                padding: 2rem 4rem;
                display: grid;
                gap: 10px;
                .sec2_silde2_product{
                    background: url("../images/christmas-tree-5758765_1920.jpg") center/cover no-repeat;
                    grid-area: sec2_product;
                }
                .sec2-silde2_func{
                    width: 100%;
                    height: 100%;
                    @for $var from 1 to 10 {
                        &:nth-child(#{$var}){
                            grid-area: func#{$var};
                        }
                    } 
                    img{
                        width: 100%;
                        height: 60%;
                    }
                }
                @include mobile(){
                    grid-template: 
                    "func2 func3" 1fr
                    "func4 func5" 1fr
                    "func6 func7" 1fr
                    "func8 func9" 1fr
                    / 1fr 1fr;
                }
                @include tablet(){
                    grid-template: 
                    "func2 func3 func4 func5" 1fr
                    "func6 func7 func8 func9" 1fr
                    
                    / 1fr 1fr 1fr 1fr;
                }
                @include desktop(){
                    grid-template: 
                    ". . . . . ." 10%
                    "func2 func3 func4 func5 sec2_product sec2_product" 40%
                    "func6 func7 func8 func9 sec2_product sec2_product" 40%
                    ". . . . . ." 10%
                    / 1fr 1fr 1fr 1fr 1fr 1fr;
                }
            }
            .sec2_silde3{
                padding: 4rem;
                text-align: center;
                p{
                    margin: 2rem 0;
                }
                table{
                    margin: auto;
                    text-align: left;

                    tr{
                        td{
                            font-size: 1rem;
                            &:nth-child(1){
                                font-weight: bold;
                            }
                            &:nth-child(2){
                                padding-left: 1rem;
                            }
                        }
                    }
                }
            }


            @include tablet(){
                .sec2_silde0{
                    .sec2_silde0_counts{
                        justify-content: center;
                        .sec2_silde0_count{
                            width: 25%;
                            min-width: 180px;
                        }
                    }
                }
            }
            @include desktop(){
                .sec2_silde0{
                    padding: 0;
                    display: flex;

                    .sec2_silde0_img{
                        flex:  0 0 50%;
                        max-width: 50%;
                        height: 100%;
                    }
                    .sec2_silde0_dsc{
                        flex:  0 0 50%;
                        max-width: 50%;
                        padding: 6rem 4rem;
                        text-align: center;

                        .sec2_silde0_counts{
                            height: 200px;
                            .sec2_silde0_count{
                                min-width: 130px;
                            }
                        }
                    }
                    h2{
                        font-size: 0.9rem;
                    }
                    h3 {
                        font-size: 0.6rem;
                    }
                    p{
                        font-size: 0.6rem;
                    }
                }
                .sec2_silde1{
                    .sec2_silde1_content{
                        width: 100%;
                        height: 100%;
                        display: flex;
    
                        .sec2_silde1_imges{
                            width: 50%;
                            height: 100%;
                            margin: 5rem 0;
                        }
                        .sec2_silde1_word{
                            width: 50%;
                            height: 100%;
                            text-align: center;
                            top: 35%;
                            
                        }
                    }
                }
                
            }
        }
        .sec2-pagination{
            bottom: 2rem;
            width: 100%;

            .swiper-pagination-bullet{
                margin-left: 10px;
            }
            .swiper-pagination-bullet-active{
                background-color: $sec0-color;
                transform: scale(1.5);
            }
        }
    }

    .sec2-next , .sec2-prev{
        top: 200px;
    }
    
    @include mobile_table(){
        padding: 0;
        text-align: center;
    }
    @include desktop(){
        padding: 0 !important;
        .sec2-next , .sec2-prev{
            top: 50%;
        }
        .sec2-prev{
            left: 50px;
        }
        .sec2-next{
            right: 50px;
        }
    }

}

// footer
.footer{
    @include mobile(){
        .box{
            font-size: 4rem;
        }
    }
}



























@keyframes deviceUp{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes deviceDown{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}